@model FestivalRegistratie.Models.Reservation

@{
    ViewBag.Title = "Create";
}

<h2>Bestelling:</h2>

<fieldset>
    <legend>Reservation</legend>
    <div class="display-label">
         @*@Html.DisplayNameFor(model => model.FirstName)*@
        Voornaam:
        
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FirstName)
    </div>

    <div class="display-label">
         Achternaam:@*@Html.DisplayNameFor(model => model.LastName)*@
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LastName)
    </div>

    <div class="display-label">
        Email:
         @*@Html.DisplayNameFor(model => model.Email)*@
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Email)
    </div>

    <div class="display-label">
        Aantal:
        @* @Html.DisplayNameFor(model => model.Number)*@
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Number)
    </div>
    <div class="display-label">
        Ticket:
    </div>
    <div>
        @Html.DisplayFor(model => model.Ticket.Name)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
