@model FestivalRegistratie.Models.DAL.OrderRepository

@{
    ViewBag.Title = "Index";
}
@if (User.IsInRole("Admin"))
{
    @Html.ActionLink("Overzicht", "Overview");
}
<h2>Tickets</h2>

<table>
    <tr>
        <th>
            Ticket
        </th>
        <th>
            Prijs
        </th>
        <th>
            Beschikbaar
        </th>
        <th></th>
    </tr>

@foreach (var item in Model.tickettypes) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Available)
        </td>
        <td>
            @if(Convert.ToInt32(item.Available) >0){
            @Html.ActionLink("Reserveer", "Reserve", new {id = item.Id })
            }
        </td>
    </tr>
}

</table>
@if (Model.reservation != null && Model.reservation.Number == 0)
{
    Html.RenderPartial("_Reserve");
}
@if (Model.reservation != null && Model.reservation.Number > 0)
{
    Html.RenderPartial("_Complete");
}
